<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mapper.HxzyExamCategoryMapper">

    <resultMap id="BaseResultMap" type="com.ming.entity.HxzyExamCategory">
        <id property="id" column="id_" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id_" jdbcType="VARCHAR"/>
        <result property="name" column="name_" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del_" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time_" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time_" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="CategoryResultMap" type="com.ming.vo.CategoryVo">
        <id property="id" column="id_" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id_" jdbcType="VARCHAR"/>
        <result property="name" column="name_" jdbcType="VARCHAR"/>
        <result property="isDel" column="is_del_" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time_" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time_" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="SelectAllResultMap" type="com.ming.entity.HxzyExamCategory">
        <id property="id" column="a_id_" jdbcType="INTEGER"/>
        <result property="parentId" column="a_parent_id_" jdbcType="VARCHAR"/>
        <result property="name" column="a_name_" jdbcType="VARCHAR"/>
        <result property="isDel" column="a_is_del_" jdbcType="INTEGER"/>
        <result property="createTime" column="a_create_time_" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="a_modify_time_" jdbcType="TIMESTAMP"/>
        <collection property="children" ofType="com.ming.entity.HxzyExamCategory">
            <id property="id" column="b_id_" jdbcType="INTEGER"/>
            <result property="parentId" column="b_parent_id_" jdbcType="VARCHAR"/>
            <result property="name" column="b_name_" jdbcType="VARCHAR"/>
            <result property="isDel" column="b_is_del_" jdbcType="INTEGER"/>
            <result property="createTime" column="b_create_time_" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="b_modify_time_" jdbcType="TIMESTAMP"/>
            <collection property="children" ofType="com.ming.entity.HxzyExamCategory">
                <id property="id" column="c_id_" jdbcType="INTEGER"/>
                <result property="parentId" column="c_parent_id_" jdbcType="VARCHAR"/>
                <result property="name" column="c_name_" jdbcType="VARCHAR"/>
                <result property="isDel" column="c_is_del_" jdbcType="INTEGER"/>
                <result property="createTime" column="c_create_time_" jdbcType="TIMESTAMP"/>
                <result property="modifyTime" column="c_modify_time_" jdbcType="TIMESTAMP"/>
            </collection>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id_,parent_id_,name_,
        is_del_,create_time_,modify_time_
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from hxzy_exam_category
        where  id_ = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="SelectAllResultMap">
        SELECT a.id_          a_id_,
               a.parent_id_   a_parent_id_,
               a.name_        a_name_,
               a.is_del_      a_is_del_,
               a.create_time_ a_create_time_,
               a.modify_time_ a_modify_time_,
               b.id_          b_id_,
               b.parent_id_   b_parent_id_,
               b.name_        b_name_,
               b.is_del_      b_is_del_,
               b.create_time_ b_create_time_,
               b.modify_time_ b_modify_time_,
               c.id_          c_id_,
               c.parent_id_   c_parent_id_,
               c.name_        c_name_,
               c.is_del_      c_is_del_,
               c.create_time_ c_create_time_,
               c.modify_time_ c_modify_time_
        FROM hxzy_exam_category a
                 LEFT JOIN hxzy_exam_category b ON a.id_ = b.parent_id_
                 LEFT JOIN hxzy_exam_category c ON b.id_ = c.parent_id_
        WHERE a.id_ != 0 AND a.parent_id_ = 0
    </select>
    <select id="gradeJudgment" resultMap="BaseResultMap">
        SELECT
            a.id_          id_,
            a.parent_id_   parent_id_,
            a.name_        name_,
            a.is_del_      is_del_,
            a.create_time_ create_time_,
            a.modify_time_ modify_time_
        FROM
            hxzy_exam_category a
                LEFT JOIN hxzy_exam_category b ON a.parent_id_ = b.id_
                LEFT JOIN hxzy_exam_category c ON b.parent_id_ = c.id_
        WHERE
            a.id_ != 0 AND a.parent_id_  = #{ param1 }
    </select>
    <select id="getCategory" resultMap="CategoryResultMap">
        select
        <include refid="Base_Column_List" />
        from hxzy_exam_category
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from hxzy_exam_category
        where  id_ = #{id,jdbcType=INTEGER} 
    </delete>
    <delete id="BashDelCate" parameterType="list">
        delete from hxzy_exam_category
        where  id_ in
        <foreach  collection="list" separator="," item="item" close=")" open="(">
            #{item}
        </foreach>
    </delete>
    <insert id="insert" keyColumn="id_" keyProperty="id" parameterType="com.ming.entity.HxzyExamCategory" useGeneratedKeys="true">
        insert into hxzy_exam_category
        ( id_,parent_id_,name_
        ,is_del_,create_time_,modify_time_
        )
        values (#{id,jdbcType=INTEGER},#{parentId,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}
        ,#{isDel,jdbcType=INTEGER},#{createTime,jdbcType=TIMESTAMP},#{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" keyColumn="id_" keyProperty="id" parameterType="com.ming.entity.HxzyExamCategory" useGeneratedKeys="true">
        insert into hxzy_exam_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id_,</if>
                <if test="parentId != null">parent_id_,</if>
                <if test="name != null">name_,</if>
                <if test="isDel != null">is_del_,</if>
                <if test="createTime != null">create_time_,</if>
                <if test="modifyTime != null">modify_time_,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=INTEGER},</if>
                <if test="parentId != null">#{parentId,jdbcType=VARCHAR},</if>
                <if test="name != null">#{name,jdbcType=VARCHAR},</if>
                <if test="isDel != null">#{isDel,jdbcType=INTEGER},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
                <if test="modifyTime != null">#{modifyTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ming.entity.HxzyExamCategory">
        update hxzy_exam_category
        <set>
                <if test="parentId != null">
                    parent_id_ = #{parentId,jdbcType=VARCHAR},
                </if>
                <if test="name != null">
                    name_ = #{name,jdbcType=VARCHAR},
                </if>
                <if test="isDel != null">
                    is_del_ = #{isDel,jdbcType=INTEGER},
                </if>
                <if test="createTime != null">
                    create_time_ = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="modifyTime != null">
                    modify_time_ = #{modifyTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   id_ = #{id,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ming.entity.HxzyExamCategory">
        update hxzy_exam_category
        set 
            parent_id_ =  #{parentId,jdbcType=VARCHAR},
            name_ =  #{name,jdbcType=VARCHAR},
            is_del_ =  #{isDel,jdbcType=INTEGER},
            create_time_ =  #{createTime,jdbcType=TIMESTAMP},
            modify_time_ =  #{modifyTime,jdbcType=TIMESTAMP}
        where   id_ = #{id,jdbcType=INTEGER} 
    </update>
</mapper>
